.mv-single-hero {
  background-image: url(../../assets/images/header.jpg);
}
.mvsingle-item.ov-item a.img-lightbox {
  display: none;

  &:nth-child(-n + 5) {
    display: block;
  }
}
.view-all-photos-link {
  cursor: pointer;
}
